<!-- -*- mode: XML -*- -->
<!-- run ibeo_had_node for Ibeo Lux/Scala lidar with ECU -->

<launch>

  <!-- declare arguments with default values -->
  <arg name="filename" default="/media/jinbo/2d7b915b-39ed-47fe-840c-dc60de1e6f42/Data_set/idc/20181030-170255.idc"/>
  <arg name="rate" default="20" />

  <!-- node for HAD -->
  <node pkg="ibeo_had" type="ibeo_had_idc" name="idc_reader">
    <param name="filename" value="$(arg filename)" />
    <param name="rate" value="$(arg rate)"/>
  </node>

</launch>
